# App
PORT=

# Database
POSTGRES_USER=user_sb
POSTGRES_PASSWORD=password_sb
POSTGRES_DB=smart_buffet_db
POSTGRES_PORT=5432
DATABASE_URL="postgresql://user_sb:password_sb@db:5432/smart_buffet_db?schema=public"
